body {
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Basic", serif;
  color: #333;
  background-color: #eee;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1rem;
}

a {
  color: #0077cc;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.zn-page {
  line-height: 1.6rem;
  font-size: 1.2rem;
}
