.zn-title {
  text-align: center;

  a {
    text-decoration: none;
    color: #333;
    font-family: "Merriweather", serif;
  }

  .zn-title-name {
    font-size: 2rem;
  }

  .zn-title-amp {
    font-size: 3rem;
  }
}
