.zn-title {
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Goudy Bookletter 1911", serif;

  a {
    text-decoration: none;
    color: #333;
  }

  .zn-title-name {
    font-size: 3rem;
  }

  .zn-title-amp {
    font-size: 4rem;
    padding: 0 0.5rem;
  }
}
