.zn-main-nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;

  ul {
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    position: relative;
    padding: 0 2rem 1rem;
    display: inline-block;

    &.zn-disabled {
      mix-blend-mode: difference;
      cursor: default;
    }
  }

  a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transition: all 0.15s ease-in-out;
  }

  a.zn-disabled::after {
    display: none;
  }

  a:hover::after {
    width: calc(100% - 2rem);
    left: 1rem;
  }
}
